.footer{
    background-color: black;
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}
.link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
    text-decoration-color: aliceblue;
}
.img{
    width: 28px;
    height: 28px;
}
.linkText{
    font-size: 1.8vw;
    color: aliceblue;
}
.copyright{
    font-size: 1.8vw;
    color: aliceblue;
}